{% comment %} {% load cart_template_tags %} {% endcomment %}

{% load static %}


<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a href="/">
                            <img src="{% static "img/logo.png" %}" alt="">
                        </a>
                    </div>
                    <!-- logo -->

                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li class="current-list-item"><a href="/">Beranda</a></li>
                            <li><a href="{% url 'store:about' %}">Tentang</a></li>
                            <li><a href="{% url 'store:contact' %}">Kontak</a></li>
                            <li><a href="{% url 'store:shop' %}">Toko</a> 
                                <ul class="sub-menu">
                                    {% comment %} <li><a href="{% url "checkout" %}">Check Out</a></li>
                                    <li><a href="{% url "single-product" %}">Single Product</a></li>
                                    <li><a href="{% url "cart" %}">Cart</a></li> {% endcomment %}
                                </ul>
                            </li>
                            <li>
                                <div class="header-icons">
                                    {% comment %} <a class="shopping-cart" href="{% url "cart" %}"><i class="fas fa-shopping-cart"></i></a>
                                    <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a> {% endcomment %}
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->